<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.suntrans.suntranscomponents">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".auto.InteractionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CAppTheme" />

        <activity
            android:name=".auto.InteractionAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CAppTheme" />
        <activity
            android:name=".auto.ChannelSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CAppTheme" />
        <activity android:name=".auto.SrdSelectorActivity" />
    </application>
</manifest>
